body {
  background-color: #1a1918;
}

/* STYLING BUBBLES*/
.bubbles {
  position: fixed;
  height: 100vh;
  width: 100%;
}
.bubbles span {
  width: 15px;
  height: 15px;
  margin: 20px;
  display: inline-block;
  border-radius: 50%;
  animation: animate 5s infinite ease-in-out;
  animation-duration: calc(250s / var(--i));
}

.bubbles span:nth-of-type(odd) {
  background-color: rgba(255, 119, 0, 0.732);
  box-shadow: 0 0 0 10px #ff84002b, 0 0 0 20px #ff620008, 0 0 0 30px #ffee0000;
}
.bubbles span:nth-of-type(even) {
  background-color: rgba(27, 233, 233, 0.732);
  box-shadow: 0 0 0 10px #1ce3e325, 0 0 0 20px #0ecad70c, 0 0 0 30px #0ad2e000;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) translateX(50%);
  }
  100% {
    transform: translateY(-100vh) scale(2) translateX(-50%);
  }
}
/*END STYLING BUBBLES*/

header {
  filter: drop-shadow(2px 2px 3px black);
}
.nav-link,
.navbar-brand {
  background-color: transparent;
  transition: all 0.5s;
}
.nav-link:hover,
.navbar-brand:hover {
  background-color: tomato;
  color: white;
}
.active {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px tomato;
}

.card {
  box-shadow: 0 0 0 10px rgb(28 28 28), 0 0 0 20px rgb(26 26 26);
  transition: all 0.5s;
  transform: scale(1);
}
.card:hover {
  box-shadow: 0 0 0 10px rgba(26, 26, 26, 0.253),
    0 0 0 20px rgba(21, 21, 21, 0.379);
  transform: scale(1.01);
}

@media screen and (max-width: 460px) {
  .buttons {
    margin: 15px auto !important;
  }
}
